<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<real>0.05</real>
    <real>0.1</real>
    <real>0.3</real>
    <real>0.5</real>
    <real>1</real>
    <real>1.5</real>
    <real>2</real>
    <real>3</real>
    <real>4</real>
    <real>5</real>
    <real>10</real>
</array>
</plist>
